@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  /* font-weight: 400; */
  color: #000b1c;
}
.app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.left-container {
  width: 20%;
  height: 100vh;
  padding: 10px 25px;
}
.author-list-wrapper p {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
}
.author-list-wrapper .author-list {
  list-style-type: none;
}
.author-list-wrapper .author-list li {
  margin-bottom: 10px;
}
.author-list-wrapper .author-list button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.middle-container {
  width: 40%;
  height: 100vh;
}
.app .middle-container h1 {
  text-align: center;
}
.app .middle-container .book-list-wrapper {
  padding: 25px;
}
.app .middle-container .book-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.app .middle-container .book-list li {
  margin-bottom: 15px;
}
.app .middle-container .book-list button {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: transparent;
}
.app .middle-container .book-list button:focus {
  outline: none;
}
.right-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 88vh;
  width: 40%;
  padding: 10px 25px;
  background-color: #dcdcdc;
  overflow: auto;
}
.right-container .heading,
.left-container .heading {
  text-align: center;
  font-size: 2em;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 25px;
}
.author-info > div {
  margin-bottom: 25px;
}
.author-info > div:first-child {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.author-info > div:first-child p.name {
  margin-right: 25px;
}
.author-info > div:last-child > p {
  margin-bottom: 20px;
}
.allBooks-wrapper {
  margin-left: 25px;
  list-style-type: square;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.allBooks-wrapper li {
  padding: 10px;
  width: 30%;
  word-break: break-all;
}
.addBookForm {
  position: fixed;
  bottom: 0%;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  background-color: #cfcfcf;
  border-radius: 15px;
  min-height: 92px;
  height: 92px;
}
.addBookForm .form-field {
  display: flex;
  align-items: center;
  width: 23%;
  margin-right: 10px;
}
.addBookForm .form-field label {
  font-size: 21px;
  line-height: 20px;
  padding-right: 10px;
}
.addBookForm .form-field input[type='text'] {
  outline: none;
  border: none;
  height: 25px;
  background-color: #cfcfcf;
  border-bottom: 1px solid #000b1c;
  width: 60%;
  font-size: 18px;
  text-transform: capitalize;
}
.addBookForm .form-field input[type='text']:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #000b1c;
}
.addBookForm .form-field select {
  outline: none;
  border: none;
  height: 25px;
  background-color: #cfcfcf;
  border-bottom: 1px solid #000b1c;
  width: 60%;
  cursor: pointer;
  font-size: 18px;
  /* padding-left: 15px; */
}
.addBookForm .form-field select:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #000b1c;
}
.submitBtn-wrapper {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addBookForm .submit-btn {
  width: 80%;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #cfcfcf;
  box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1),
    0px -10px 20px -2px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}
.addBookForm .submit-btn:focus {
  width: 75%;
  font-size: 15px;
  line-height: 18px;
  outline: none;
}
